body {
  background-color: #D9D9D9;
  text-align: left;
}

.education {
  color: red;
}

.about_me {
  font-style: italic;
}

.skills {
  color: blue;
}

.work_experience {
  color: green;
}

.superskills {
  font-style: italic;
}
